@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*style*/
body{
	padding-top: 40px;
	font-family: 'Noto Sans', sans-serif :
	font-size: 14px;
}

.blind{
	display: block;
	position: absolute;
	left:0;
	top:-999em;
	overflow:hidden;
}

.skip a{
	display: block;
	position: absolute;
	left:0;
	top:-999em;
	width: 100%;
	background-color: navy;
	color:#efefef;
	text-decoration: none;
	text-align:center;
	line-height: 2;
	z-index: 99;
}
.skip a:focus{
	top:0;
}
hr{
	display: none;
}
.clearfix:after{
	content:'';
	display: block;
	clear:both;
}

/*style*/

#wrap{
	max-width: 1200px;
	margin:0 auto;
}
#header{
	position:fixed;
	top:0;
	width:100%;
	max-width: 1200px;
	background-color: #000;
	z-index:30;
}
#header .logo{
	float:left;
}
#header .logo a{
	display: block;
	padding:0 20px;
	height: 50px;
	line-height: 50px;
	background-color: #009688;
	text-decoration: none;
	text-transform: uppercase;
	color:#fff;
	font-size: 16px;
	font-weight: bold;
	/*vertical-align: top;*/
}
#header .logo a:hover{
	color:#000;f
	background-color: #ccc;
	cursor:pointer;
	}
#header .logo a i{
	margin-right: 10px;
}
#header .btn_nav{
	float:right;
	width:50px;
	border:0;
	/*background-image: none;*/
	background-color: #000;
	color:#eee;
	font-size: 16px;
	line-height: 50px;
	/*vertical-align: baseline;*/
	cursor:pointer;
}
#header .btn_nav:hover{
	background-color: #ccc;
	color:#000;
	


}
#header .lnb{
	/*display: none;*/
	position:absolute;
	width: 100%;
	top:50px;
}

#header .lnb li a{
	display: block;
	padding-left: 20px;
	background-color: #000;
	/*border-bottom: 1px solid #333;*/
	color:#eee;
	font-size: 15px;
	font-weight: bold;
	line-height: 40px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .2em;
}
#header .lnb li a:hover{
	background-color: #ddd;
	color:#000;
}
.visual{
	position: relative;
	z-index:20;

}
.visual .pic{
	z-index: 20;
}
.visual .pic img{
	width:100%;
	filter:grayscale(1);
}
.visual .tle{
	position: absolute;
	bottom:20px;
	left:20px;
	padding:0 30px;
	background-color: #000;
	color:#eee;
	text-transform: uppercase;
	font-size: :2em;
	line-height: 45px;
	cursor: pointer;
	letter-spacing: .3em;
	z-index: 10;
}
.visual .tle:hover{
	background-color: #009688;
	color: #fff;
}
#container{
	text-align: center;
}

#container .team{
	padding:80px 0 60px;
	border-bottom: 1px solid #ddd;

}

#container .team .tle{
	font-size: 26px;
	line-height: 60px;
}

#container .team .desc{
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 40px;
}

#container .human{

}


#container .human figure img{
	width: 200px;
	border-radius: 50%;
}

#container .human figcaption{
	margin-bottom: 20px;
}
#container .human figcaption strong{
	display: block;
	line-height: 60px;
	font-size: 24px;
}
#container .human figcaption small{
	display: block;
	font-size: .8em;
	line-height: 24px;
}

#container .pricing{
	padding:80px 0 60px;
	border-bottom: 1px solid #ddd;


}
#container .pricing .tle{
	font-size: 26px;
	line-height: 60px;
}
#container .pricing .desc{
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 40px;
}


#container .pricing dl{
	margin:0 20px 20px;
	border:1px solid #ccc;
}
#container .pricing dt strong{
	display: block;
	background-color: #000;
	color: #eee;
	font: 24px/3.4 'Verdana',sans-serif;
}
#container .pricing dd li{
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	font-size: 1.2em;
}
#container .pricing dd li strong{
	font-weight: bold;

}
#container .pricing dd li span{
	display: block;
}
#container .pricing dd li span.pay{
	padding:15px 0 0;
	font-size: 2em;
}
#container .pricing dd li span.pay+span{
	color:#666;
	font-style: .9em;
}
#container .pricing dd .sign{
	padding:20px 0;
	background-color: #f0f0f0;
}
#container .pricing dd .sign a{
	display: inline-block;
	padding:0 20px;
	line-height: 45px;
	background-color: #009688;
	font-size: 1.2em;
	color:#fff;
	text-decoration: none;
}
#container .pricing dd .sign a:hover{
	background-color: #ccc;
	color:#000;
}
#container .pricing dd .sign a i{
	margin-right: 10px;
}

#container .contact{
	padding:80px 0 60px;

}
#container .contact .tle{
	font-size: 26px;
	line-height: 60px;
}
#container .contact .desc{
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 40px;
}
#footer{
	padding:30px 50px;
	background-color: #222;
	color:#eee;
	text-align: center;
}
#footer a {
	color:#eee;
	text-decoration: none;
}
#footer .desc{
	margin-bottom: 15px;
	font-size: 1.2em;
	
}
#footer dd{
	display: inline;
}

#footer dd a{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #009688;
	line-height: 40px;
	text-align:center;
	font-size: 20px;
	color:#eee;
}
#footer dd a:hover{
	background-color: #ccc;
	color:#000;
}